rules_version = '2';

// Craft rules based on data in your Firestore database
// allow write: if firestore.get(
//    /databases/(default)/documents/users/$(request.auth.uid)).data.isAdmin;
service firebase.storage {
  match /b/{bucket}/o {
    // 모든 파일에 대한 읽기/쓰기 허용 (개발용)
    match /{allPaths=**} {
      allow read, write: if true;
    }
  }
}
